html, body {
    width: 100%;
    height: 100%;
}

.navbar.navbar-danger {
    background-color: #039BE5;
    font-size: 1.3em;
    font-weight: 500;
    width: 100%;
}

.chatContainer {
    padding-top: 80px;
}

.panel {}

.panel-heading {
    font-size: 1.5em;
    font-weight: 500;
}

.panelOptionHead {
    font-size: 1.3em;
    font-weight: 800;
    padding-bottom: 20px;
}

.panelOptionContent {
    font-size: 1.2em;
    font-weight: 500;
    padding-bottom: 20px;
}

.text-primary {
    color: #039BE5;
}

.togglebutton label input[type=checkbox]:checked + .toggle {
    background-color: rgba(3, 155, 229, 0.5);
}

.togglebutton label input[type=checkbox]:checked + .toggle:after {
    background-color: #039BE5;
}

.chatRoomScroll {
    width: 100%;
    height: 80vh;
    overflow: auto;
}

.messageBoxContainer {
    background-color: #fff;
}

.well {
    margin-bottom: 8px;
    width: 97%;
}

.messageBox .message_username {
    font-size: 1.2em;
}

.messageBox .message_username:hover, .messageBox .message_text:hover {
    background-color: #E4E4E4;
}

.messageBox .message_text, .messageBox .message_username {
    border: none;
    border-radius: 2px;
    position: relative;
    padding: 4px 8px;
    margin: 3px 1px;
    box-shadow: 1px 2px 5px #888888;
    display: inline-block;
    will-change: box-shadow, transform;
    -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.messageBox .message_text {
    display: block;
    word-wrap: break-word;
    /* IE 5.5-7 */
    white-space: -moz-pre-wrap;
    /* Firefox 1.0-2.0 */
    white-space: pre-wrap;
    /* current browsers */
    background-color: #C4E3F3;
    font-weight: 400;
    color: #000;
    font-size: 1.1em;
}

.messageBox .message_username {
    font-weight: 500;
    background-color: #EFEFEF;
    font-size: 1.3em;
}

.messageBox .message_username:hover {
    background-color: #E4E4E4;
}

.messageBox .message_text:hover {
    color: #fff;
    background-color: #039BE5;
}

.messageBox .message_sent {
    font-size: 1.3em;
}

.sendMessageContainer {
    font-size: 1.5em;
}


/*BTN*/

.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #039BE5;
}

.form-control, .form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#039BE5), to(#039BE5)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#039BE5, #039BE5), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#039BE5, #039BE5), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#039BE5, #039BE5), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.is-focused .form-control {
  outline: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#039BE5), to(#039BE5)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient(#039BE5, #039BE5), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient(#039BE5, #039BE5), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient(#039BE5, #039BE5), linear-gradient(#D2D2D2, #D2D2D2);
  -webkit-background-size: 100% 2px, 100% 1px;
          background-size: 100% 2px, 100% 1px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.form-group.is-focused label,
.form-group.is-focused label.control-label {
  color: #039BE5;
}